<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.TbItemCatMapper">
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbItemCat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
  </resultMap>

  <!--查找到所有的分类的值-->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM tb_item_cat
  </select>

  <!--查找到父类的id-->
  <select id="findByParentId" resultMap="BaseResultMap">
    SELECT * FROM tb_item_cat where parent_id=#{parentId}
  </select>

  <!--增加的操作-->
  <insert id="addItemCat">
    insert into tb_item_cat(parent_id,name,type_id) VALUES (#{parentId},#{name},#{typeId})
  </insert>

  <!--修改的操作-->
  <update id="updateItemCat">
    UPDATE tb_item_cat SET name=#{name},type_id=#{typeId} where id=#{id}
  </update>

  <!--根据id查找-->
  <select id="findById" resultMap="BaseResultMap">
    SELECT * FROM tb_item_cat WHERE id=#{id}
  </select>

  <!--查找该id作为多少分类的父类-->
  <select id="CountByParentId" resultType="java.lang.Integer">
    select count(*) from tb_item_cat WHERE parent_id=#{id}
  </select>

  <!--根据id进行删除-->
  <delete id="deleteItemCat">
    DELETE  FROM tb_item_cat where id=#{id}
  </delete>
</mapper>