<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.TbTypeTemplateMapper">
  <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbTypeTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="spec_ids" jdbcType="VARCHAR" property="specIds" />
    <result column="brand_ids" jdbcType="VARCHAR" property="brandIds" />
    <result column="custom_attribute_items" jdbcType="VARCHAR" property="customAttributeItems" />
  </resultMap>

  <!--查询所有的-->
  <select id="findAll" resultMap="BaseResultMap">
    select * from tb_type_template
  </select>

  <!--根据条件进行查询-->
  <select id="findByCondition" resultMap="BaseResultMap">
    select * from tb_type_template
    <where>
      <if test="name!=null and name!=''">
        name LIKE  '%${name}%'
      </if>
    </where>
  </select>

  <!--增加的操作-->
  <insert id="addTypeTemplate">
    insert into tb_type_template(name,spec_ids,brand_ids,custom_attribute_items) values (#{name},#{specIds}，#{brandIds}，#{customAttributeItems});
  </insert>
</mapper>